<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		 <meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
         <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
		<!--<link  rel="stylesheet" href="../static/css/bootstrap.min.css"/>-->
		<!--<script src="../static/js/jquery-3.3.1.js"></script>-->
         <!--<script src="../static/js/bootstrap.min.js"></script>-->

		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
         <title></title>
	</head>
	<style>
	
		.container{
			display: -webkit-flex;
			flex-direction: column;
			width: 96%;
			justify-content:center; 
			margin: 0px auto;
		}
		.form_container{
			display: -webkit-flex;
			flex-direction: column;
		}
		input{
			width: 80%;
		}
        .hlevel_input{
            display: block;
            margin: 0px auto;
            width: 15px;
            height: 15px;
        }
        .content_div{
            flex: 1;
            border-bottom: 1px solid #f1f1f1;border-right:1px solid #f1f1f1;
            text-align: center;
        }
        input{
            border: solid 1px #f1f1f1;
            display: block;
            height: 40px;
        }
	</style>
	<body>
		
	
	<div class="container">
	
	<h2 style="text-align: center;">2018年甘肃省麻醉质控中心医疗质量信息报表</h2>
		<span>一般指标每半年上报一次(6月及12月)，质量指标每月上报一次。当月报表请于次月20日前上报</span>
   <form class="form_container" method="post">
     <fieldset>
    <legend><h2>一、基本指标</h2></legend>
        <h3>I、一般指标</h3>
        <h4>1.医院及科室主任 信息员一般信息</h4>
         <div style="position:relative;">
         	<!--3行8列-->
         	
         		<div  style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>医院名称:</span></div>
         			<div   style="margin-bottom: 10px;"><input/></div>
         		</div>

			 <div style="display: -webkit-flex; flex-direction: column;">
                <!--<div style="margin-bottom: 10px;"><span>级别:</span></div>
                <div style=" display:-webkit-flex; flex-direction: row; margin-bottom: 10px; ">
                <div style="flex: 1;"><span>三甲</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>三乙</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>三丙</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>二甲</span><input type="checkbox" name="hlevel"/></div>
                </div>
                <div style=" display:-webkit-flex; flex-direction: row; margin-bottom: 10px; ">
                <div style="flex: 1;"><span>二乙</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>二丙</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>大学/医学院附属医院</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>综合医院</span><input type="checkbox" name="hlevel"/></div>
                </div>
               <div style=" display:-webkit-flex; flex-direction: row; margin-bottom: 10px; ">
                <div style="flex: 1;"><span>专科医院</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>公立医院</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>非公立医院</span><input type="checkbox" name="hlevel"/></div>
                <div style="flex: 1;"><span>其他</span><input type="checkbox" name="hlevel"/></div>
                </div>-->
                 <div style="margin-bottom: 10px;"><span>医院性质:</span></div>
                 <div style=" display:-webkit-flex;  flex-direction: row;">
                     <div class="content_div" >
                         <span>三甲</span>
                         <input class="hlevel_input" type="checkbox" name="hlevel" />
                     </div>
                     <div class="content_div" >
                         <span>三乙</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div"><span>三丙</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                       </div>
                 <div style="display:-webkit-flex; flex-direction: row;">
                     <div class="content_div" ><span>二甲</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div" ><span>二乙</span><input  class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div" ><span>二丙</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                    </div>
                 <div style=" display:-webkit-flex; flex-direction: row;">
                     <div class="content_div" ><span>大学/医学院附属医院</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div" ><span>综合医院</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div" ><span>专科医院</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     </div>
                 <div style=" display:-webkit-flex; flex-direction: row;">
                      <div class="content_div" ><span>公立医院</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div" ><span>非公立医院</span><input class="hlevel_input" type="checkbox" name="hlevel"/></div>
                     <div class="content_div" ><span>其他</span><input  class="hlevel_input" type="checkbox" name="hlevel"/></div>
                 </div>

			 </div>
			 <div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>科主任姓名</span></div>
         			<div style="margin-bottom: 10px;">
                        <input />
                    </div>
			 </div>
         		<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>手机:</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         		<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>邮箱:</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         		<!--信息员姓名、手机、邮箱-->
         		<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>信息员姓名:</span></div>
         			<div style="margin-bottom: 10px;"> <input/></div>
         		</div>
         		<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>手机:</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         		<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>邮箱:</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         			</div>
         		
         	
         
        <h4>2.手术台数及床位数</h4>
        <h4 style="text-align: center;">手术台数(台)</h4>
        <div style="display: -webkit-flex;flex-direction: column;">
        	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>住院部手术室使用台数</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>日间(门诊)手术室使用台数</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>介入治疗(需麻醉)台数</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>内镜(无痛)检查台数</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>人流及无痛分娩台数</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>	
        </div>
        
        <h4 style="text-align: center;">床位数(张)</h4>
         <div style="display: -webkit-flex;flex-direction: column;">
        	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>麻醉后监护室(PACU)</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>麻醉科CU(AICU)</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>麻醉科疼痛病房</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         		</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         			<div style="margin-bottom: 10px;"><span>日间手术麻醉后恢复室</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         	</div>
        </div>
        <h3>II.工作量及人员指标</h3>
         <h4>1.麻醉例(次)数</h4>
         <div style="display: -webkit-flex;flex-direction: column;">
         	<div>
         			<div style="margin-bottom: 10px;"><span>①住院部手术室麻醉总数(例次)</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         	</div>
         	<div>
         			<div style="margin-bottom: 10px;"><span>②按ASA分级(含急诊)统计</span></div>
         			<div style="margin-bottom: 10px;"><span>麻醉总例次数</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅰ级</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅱ级</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅰ~Ⅱ级所占比例%</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅲ级</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅳ级</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅴ级</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			<div style="margin-bottom: 10px;"><span>Ⅲ~Ⅴ级所占比例%</span></div>
         			<div style="margin-bottom: 10px;"><input/></div>
         			 <fieldset>
				     <legend><h4>E(急诊手术)</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>例次数</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>所占比例%</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
				     
         	</div>
         	<div style="display: -webkit-flex; flex-direction: column;">
         		<div>③按麻醉分类方法统计</div>
         		 <fieldset>
				     <legend><h4>全身麻醉数</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>总数</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>吸入</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>静脉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>复合</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
				      <fieldset>
				     <legend><h4>椎管内麻醉数</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>总数</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>腰麻</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>硬膜外</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>腰硬联合</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
				     	      <fieldset>
				     <legend><h4>神经干(丛)阻滞</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>总数</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>神经干</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>神经丛</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
				       	      <fieldset>
				     <legend><h4>其他</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>总数</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>MAC</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>其他</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
         	</div>
         	<div style="display: -webkit-flex;flex-direction: column;">
         		<div>④按专科麻醉分类统计</div>
         		    <fieldset>
				     <legend><h4>专科麻醉数</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>脑外科麻醉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>胸外科麻醉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>心血管外科麻醉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			     <div style="margin-bottom: 10px;"><span>产科麻醉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			     <div style="margin-bottom: 10px;"><span>小儿麻醉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			     <div style="margin-bottom: 10px;"><span>老年麻醉</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
				     <div><span>无痛内窥镜深度镇静、麻醉数(例次)</span></div>
				     <div style="margin-bottom: 10px;"><input/></div>
				      <div><span>日间(门诊)手术室麻醉数(含介入手术治疗，次数)</span></div>
				     <div style="margin-bottom: 10px;"><input/></div>
				         <fieldset>
				     <legend><h4>无痛分娩及无痛人流数(例次)</h4></legend>
				     <div style="display: -webkit-flex; flex-direction: column;">
         		    	<div style="margin-bottom: 10px;"><span>总数</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>日间(门诊)手术麻醉</span></div>
         			     <fieldset>
					     <legend><h4>有创或无创检查</h4></legend>
         			    <div style="margin-bottom: 10px;"><span>胃肠道</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			     <div style="margin-bottom: 10px;"><span>呼吸系统</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			     <div style="margin-bottom: 10px;"><span>心血管</span></div>
         			       <div style="margin-bottom: 10px;"><input/></div>
					     </fieldset>
         			    
         			     <div style="margin-bottom: 10px;"><span>介入手术治疗</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>人流手术</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>分娩镇痛</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
         			    <div style="margin-bottom: 10px;"><span>其他</span></div>
         			    <div style="margin-bottom: 10px;"><input/></div>
                      </div>
				     </fieldset>
         	</div>
         </div>
        <h4>2.收住或诊治病人数(例次)</h4>
        
                 <fieldset>
			     <legend>收住或诊治病人数（例次）</legend>
 			     <div style="margin-bottom: 10px;"><span>PACU</span></div>
 			     <div style="margin-bottom: 10px;"><input/></div>
 			     <div style="margin-bottom: 10px;"><span>ACIU</span></div>
 			     <div style="margin-bottom: 10px;"><input/></div>
 			     <div style="margin-bottom: 10px;"><span>疼痛病房</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
			     </fieldset>
         <h4>3.本院编制的麻醉科医师数</h4>
          <fieldset>
			     <legend>麻醉科医师总人数</legend>
 			     <div style="margin-bottom: 10px;"><span>临床麻醉（含PACU）</span></div>
 			     <div style="margin-bottom: 10px;"><input/></div>
 			     <div style="margin-bottom: 10px;"><span>AICU</span></div>
 			     <div style="margin-bottom: 10px;"><input/></div>
 			     <div style="margin-bottom: 10px;"><span>疼痛诊疗</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
 			           <div style="margin-bottom: 10px;"><span>其他</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
 			           <div style="margin-bottom: 10px;"><span>总人数</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
			     </fieldset>
         <h4>4.本院编制的麻醉科护士数</h4>
             <fieldset>
			     <legend>麻醉科护士总人数</legend>
 			     <div style="margin-bottom: 10px;"><span>临床麻醉（含PACU）</span></div>
 			     <div style="margin-bottom: 10px;"><input/></div>
 			     <div style="margin-bottom: 10px;"><span>AICU</span></div>
 			     <div style="margin-bottom: 10px;"><input/></div>
 			     <div style="margin-bottom: 10px;"><span>疼痛诊疗</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
 			           <div style="margin-bottom: 10px;"><span>其他</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
 			           <div style="margin-bottom: 10px;"><span>总人数</span></div>
 			       <div style="margin-bottom: 10px;"><input/></div>
			     </fieldset>
  </fieldset>

	   <div style="display: -webkit-flex; flex-direction: row;">
		   <div style="flex-grow: 1;text-align: right">
			   <button id="button" type="button" class="btn btn-primary">仅提交本页数据</button>
		   </div>
		   <div style="flex-grow: 1;margin-left: 10px">
		   <button id="next" type="submit" class="btn btn-primary">进入下一页</button>
		   </div>
	   </div>


   </form>
</div>
	</body>
</html>


<script>
    $(function () {
       $("#next").click(function () {
         //  window.location.href="front2.html";
       });
    });
</script>