<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		 <meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
         <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
         <title></title>
	</head>
	<style>
	
		.container{
			display: -webkit-flex;
			flex-direction: column;
			width: 96%;
			justify-content:center; 
			margin: 0px auto;
		}
		.form_container{
			display: -webkit-flex;
			flex-direction: column;
		}
		input{
			width: 80%;
			border: solid 1px #f1f1f1;
			display: block;
			height: 40px;
		}

	</style>
	<body>
		
	
	<div class="container">
	
	<h2 style="text-align: center;">2018年甘肃省麻醉质控中心医疗质量信息报表</h2>
		<span>一般指标每半年上报一次(6月及12月)，质量指标每月上报一次。当月报表请于次月20日前上报</span>
   <form class="form_container">
	   <fieldset>
		   <legend><h2>二、质量指标</h2></legend>

		   <div>
			   <div><span>1.麻醉科医患比（工作负荷）</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>麻醉科固定在岗（本院）医师总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉科完成麻醉总例次数（万例次）</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>麻醉科医患比%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>2.麻醉成功率(%)</span></div>
			   <fieldset>
				   <legend>(1)神经干（丛）阻滞成功率</legend>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(2)硬膜外阻滞成功率</legend>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(3)困难气道处理成功率</legend>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <div><span>3.超声引导穿刺（限深静脉、硬膜外及神经丛穿刺）覆盖率(%)</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>同期总例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>应用超声引导例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>成功率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>4.麻醉开始后手术取消率（只报例数，汇总后统计%）</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>麻醉开始后手术取消例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>取消率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>5.非计划二次气管插管率（只报例数，汇总后统计%）</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>非计划二次气管插管例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>非计划二次气管插管率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>6.患者出手术室低体温率（%）</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>患者出手术室低体温例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>低体温率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>7.非计划转入ICU率（%）</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>非计划转入ICU例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>非计划转入ICU率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>8.全麻气管插管拔管后声音嘶哑发生率（%）</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>插管拔管后声音嘶哑例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>插管拔管后声音嘶哑率</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>9.麻醉相关死亡率(只报例数，汇总后统计%)</span></div>

			   <fieldset>
				   <legend>麻醉相关死亡率</legend>
				   <div style="margin-bottom: 10px;"><span>麻醉相关死亡例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>麻醉相关死亡率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>

			   <div><span>10.麻醉严重并发症发生率及/或抢救成功率(只报例数，汇总后统计%)</span></div>

			   <fieldset>
				   <legend>(1)麻醉期间心跳骤停发生例数及抢救成功例数</legend>
				   <div style="margin-bottom: 10px;"><span>发生例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>抢救成功例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>抢救成功率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(2)麻醉期间严重过敏反应发生例数及抢救成功例数</legend>
				   <div style="margin-bottom: 10px;"><span>严重过敏反应例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>抢救成功例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>抢救成功率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(3)椎管内麻醉后严重神经并发症发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>发生例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期椎管内麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(4)深静脉穿刺严重并发症发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>严重并发症例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期操作总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>

			   </fieldset>
			   <fieldset>
				   <legend>(5)苏醒延迟发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>发生例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期全麻总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(6)全麻术中知晓发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>发生例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期全麻例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>

			   <div><span>11.术中自体血回输率(%)</span></div>

			   <fieldset>
				   <legend>自体血回输例数</legend>
				   <div style="margin-bottom: 10px;"><span>回输例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>回输总量ml</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <div style="margin-bottom: 10px;"><span>同期输血病人总数</span></div>
			   <div style="margin-bottom: 10px;"><input/></div>
			   <div style="margin-bottom: 10px;"><span>回输率%</span></div>
			   <div style="margin-bottom: 10px;"><input/></div>



			   <div><span>12.术后镇痛率(%)</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>镇痛例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>术后镇痛率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>
			   <div><span>13.麻醉后随访率(%)</span></div>
			   <div style="display: -webkit-flex; flex-direction: column;">
				   <div style="margin-bottom: 10px;"><span>随访记录例数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>随访率%</span></div>
				   <div  style="margin-bottom: 10px;"><input/></div>
			   </div>

			   <div><span>14.术后严重并发症发生率（只报例数，汇总后统计%）</span></div>

			   <fieldset>
				   <legend>(1)手术后心肌梗塞发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>心梗例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>

			   </fieldset>
			   <fieldset>
				   <legend>(2)手术后新发昏迷发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>昏迷例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>

			   </fieldset>
			   <fieldset>
				   <legend>(3)手术后肺栓塞发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>肺栓塞例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>
			   <fieldset>
				   <legend>(4)手术后心跳骤停发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>心跳骤停例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期麻醉总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>

			   </fieldset>
			   <fieldset>
				   <legend>(5)手术后死亡发生例数</legend>
				   <div style="margin-bottom: 10px;"><span>死亡例数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>同期全麻总数</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
				   <div style="margin-bottom: 10px;"><span>发生率%</span></div>
				   <div style="margin-bottom: 10px;"><input/></div>
			   </fieldset>


		   </div>
	   </fieldset>
	   <div style="display: -webkit-flex; flex-direction: row;">

		   <div style="flex-grow: 1;text-align: center">
			   <button id="submit" type="button" class="btn btn-primary">提交</button>
		   </div>
	   </div>
</form>




</div>


	</body>
</html>
